<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Table Booking</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Invoice</th>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Name Member</th>
                        <th>Status</th>
                        <th class="text-center">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <% booking.forEach((item,index) => { %>
                    <tr>
                        <td><%= index+1 %> </td>
                        <td><%= item.invoice %></td>
                        <td>
                            <%= item.bookingStartDate.toLocaleString().split(',')[0] %> -
                            <%= item.bookingEndDate.toLocaleString().split(',')[0] %>
                        </td>
                        <td><%= item.itemId.title %> </td>
                        <td><%= item.memberId.firstName %> <%= item.memberId.lastName %></td>
                        <% if (item.payments.status == "Accept") { %>
                        <td><span class="badge badge-success"><%= item.payments.status %></span></td>
                        <% } else if(item.payments.status=="Process"){ %>
                        <td><span class="badge badge-warning"><%= item.payments.status %></span></td>
                        <% } else { %>
                        <td><span class="badge badge-danger"><%= item.payments.status %></span></td>
                        <% } %>
                        <td align="center">
                            <a href="/admin/booking/show-detail/<%= item.id %>"
                                class="btn btn-success btn-sm btn-circle"><i class="fas fa-eye"></i></a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>